<!DOCTYPE html>
<html<%= content_for(:angular_app) %>>
  <head>
    <title>OneDirective</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag yield(:stylesheet) if yield(:stylesheet) %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <%= render 'static_pages/user_navbar.html.erb' if current_user %>
  <%= render 'static_pages/visitor_navbar.html.erb' if !current_user %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">

  <body class="container">
    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <!-- ui-router -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js'></script>

    <!-- restangular -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.2/restangular.min.js'></script>

    <!-- lodash -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js'></script>

    <script>
     $(document).ready(function(){
         $.material.init();
     })
    </script>
  </body>
</html>
