<!DOCTYPE html>
<html<%= content_for(:angular_app) %>>
  <head>
    <title>oneDirective</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag yield(:stylesheet) if yield(:stylesheet) %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  </head>

  <body class="container">
    <%= render 'static_pages/visitor_navbar.html.erb' if !current_user %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <script>
     $(document).ready(function(){
         $.material.init();
     })
    </script>
  </body>
</html>
