<!DOCTYPE html>
<html<%= content_for(:angular_app) %>>
  <head>
    <title>SkeletorMaterialDesign</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag yield(:stylesheet) if yield(:stylesheet) %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <script>
     $(document).ready(function(){
         $.material.init();
     })
    </script>

  </body>
</html>
